/* Esercizio 1 */

.ex-1-square{
    transition: 3s;
}
.ex-1-square:hover{
    background: red;
}

/* Esercizio 2 */

.ex-2-square{
    transition: 3s;
}

.ex-2-square:hover{
    width: 500px;
}

/* Esercizio 3 */

.ex-3-square{
    transition: 3s;
}

.ex-3-square:hover{
    border-radius: 100%;
}

/* Esercizio 4 */

.ex-4-square{
    transition: 3s;
}
.ex-4-square:hover{
    opacity: 0;
}

/* Esercizio 5 */

.ex-5-square{
    transition: 1sec;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
}

.ex-5-square:active{
    width: 20px;
    height: 20px;
}

/* Esercizio 6 */

.ex-6-img:hover{
    filter: grayscale(100%);
}

/* Esercizio 7 */

.ex-7-img{
    transition: 5s;
}

.ex-7-img:hover{
    filter: contrast(200%) brightness(150%);
}

/* Esercizio 8 */

.ex-8-img{
    transition: 3s;
}

.ex-8-img:hover{
    filter: sepia(70%) drop-shadow(8px 8px 10px gray);
    border-radius: 10%;
}

/* Esercizio 9 */

.ex-9-img{
    transition: 3s;
}
.ex-9-img:hover{
    filter: blur(4px) grayscale(100%);
    border-radius: 10%;
    transform: scale(0.5);
}

/* Esercizio 10 */

.ex-10-icon{
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* Esercizio 11 */

.ex-11-icon:hover{
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Esercizio 12 */

.ex-12-button:hover .ex-12-top-white{
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.ex-12-button:hover .ex-12-bottom-white{
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move {
    0% {
        left:10%;
    }
    50% {
        left:calc(100% - 70px);
    }
    100% {
        left:10%;
    }
}






